service:
  type: NodePort
  ports:
    - name: status-port
      port: 15021
      protocol: TCP
      targetPort: 15021
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
      nodePort: 30001
    - name: https
      port: 443
      protocol: TCP
      targetPort: 443
      nodePort: 30002

gateway:
  enabled: true
  name: external-gateway
  namespace: istio-ingress
  selector:
    istio: ingressgateway
  hosts:
    - "*" # 프로덕션에서는 실제 도메인 사용
  http:
    enabled: true
    port: 80
    httpsRedirect: false
  https:
    enabled: true
    port: 443
    tls:
      mode: SIMPLE
      credentialName: external-gateway-tls
