{{- if .Values.secrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "schedule-service.fullname" . }}-secrets
  labels:
    {{- include "schedule-service.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
type: Opaque
stringData:
  {{- range $key, $value := .Values.secrets }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end }}
